<%- include('bootheader') -%>
<%- include('menubar') -%>



<div class="jumbotron">
    <h1>Brandeis German Club</h1>



    <% var data = {
      "consolidated_weather": [
        {
          "id": 4602970223149056,
          "weather_state_name": "Clear",
          "weather_state_abbr": "c",
          "wind_direction_compass": "SE",
          "created": "2021-06-18T15:35:52.736271Z",
          "applicable_date": "2021-06-18",
          "min_temp": 20.675,
          "max_temp": 34.504999999999995,
          "the_temp": 32.85,
          "wind_speed": 7.707052930377263,
          "wind_direction": 144.99436776414456,
          "air_pressure": 1013.5,
          "humidity": 34,
          "visibility": 15.503211246321483,
          "predictability": 68
        },
        {
          "id": 6007814129451008,
          "weather_state_name": "Heavy Cloud",
          "weather_state_abbr": "hc",
          "wind_direction_compass": "WSW",
          "created": "2021-06-18T15:35:56.208567Z",
          "applicable_date": "2021-06-19",
          "min_temp": 21.405,
          "max_temp": 34.3,
          "the_temp": 32.975,
          "wind_speed": 4.4022199370927115,
          "wind_direction": 253.33143490338006,
          "air_pressure": 1013.5,
          "humidity": 43,
          "visibility": 15.085960490734111,
          "predictability": 71
        },
        {
          "id": 6152211198377984,
          "weather_state_name": "Heavy Cloud",
          "weather_state_abbr": "hc",
          "wind_direction_compass": "SE",
          "created": "2021-06-18T15:35:58.566602Z",
          "applicable_date": "2021-06-20",
          "min_temp": 21.095,
          "max_temp": 34.675,
          "the_temp": 33.745000000000005,
          "wind_speed": 6.8766849813012,
          "wind_direction": 137.06683446318783,
          "air_pressure": 1009,
          "humidity": 40,
          "visibility": 15.381422492642965,
          "predictability": 71
        },
        {
          "id": 6380060555608064,
          "weather_state_name": "Showers",
          "weather_state_abbr": "s",
          "wind_direction_compass": "W",
          "created": "2021-06-18T15:36:01.457156Z",
          "applicable_date": "2021-06-21",
          "min_temp": 20.54,
          "max_temp": 27.715,
          "the_temp": 27.32,
          "wind_speed": 6.4794811109069705,
          "wind_direction": 278.79397688699686,
          "air_pressure": 1006,
          "humidity": 59,
          "visibility": 14.218836991966914,
          "predictability": 73
        },
        {
          "id": 5908730844545024,
          "weather_state_name": "Showers",
          "weather_state_abbr": "s",
          "wind_direction_compass": "N",
          "created": "2021-06-18T15:36:04.566278Z",
          "applicable_date": "2021-06-22",
          "min_temp": 18.189999999999998,
          "max_temp": 27.25,
          "the_temp": 25.92,
          "wind_speed": 4.514449505453485,
          "wind_direction": 353,
          "air_pressure": 1011.5,
          "humidity": 58,
          "visibility": 14.850771494472282,
          "predictability": 73
        },
        {
          "id": 5983663192801280,
          "weather_state_name": "Heavy Rain",
          "weather_state_abbr": "hr",
          "wind_direction_compass": "N",
          "created": "2021-06-18T15:36:07.737583Z",
          "applicable_date": "2021-06-23",
          "min_temp": 15.235,
          "max_temp": 19.91,
          "the_temp": 16.15,
          "wind_speed": 5.871093215620775,
          "wind_direction": 3.999999999999988,
          "air_pressure": 1019,
          "humidity": 82,
          "visibility": 8.576165195259684,
          "predictability": 77
        }
      ]
    };

    var hdrs = ["Day", "Prognosis", "Low", "High"];
    var keys = ["barfola", "weather_state_name", "min_temp", "max_temp"];
%>
    <table class="table table-bordered table-striped">
    <% for (var i=0; i< data.consolidated_weather.length; i++) {
      if (i == 0) { %>
        <thead><tr>
        <% for (var j=0;j<hdrs.length;j++) { %>
          <th>
            <%= hdrs[j]%>
          </th>
        <% } %>
        </tr>
        </thead>
      <% }
      var day = data.consolidated_weather[i];
       for (var k=0; k<keys.length;k++) {
         if (day.hasOwnProperty(keys[k])) { %>
          <td>
            <%= day[keys[k]] %>
             </td>
         <% } else { %>
          <td>
            <%= i + 1 %>
          </td>

         <% }
       } %>


        </tr>


    <% } %>
    </table>




</div>








<%- include('bootfooter') -%>
